body{
  width: "100%";
  height: "100%";
  margin: 0 auto;
}
.container{
 width: 1100px;
 margin: auto;
 text-align: center;
}
.header1-limit{
margin:0 auto;
overflow:hidden;
max-width: 830px;
padding: 12px 0px;

}
.font1{
  font-family: "Roboto Condensed", sans-serif;
}
.font2{
  font-family: "Roboto Condensed", sans-serif;
}
.header1{
  margin: auto;
  border: solid 1px #8aa53c;
  background: linear-gradient(to bottom,  #a9cc41 30%,#99b24b 85%);

}
.header2-limit{
margin:0 auto;
overflow:hidden;
max-width: 830px;
padding: 17px 0px;

}
.header2{
  background-color:white;
  width:1100px;
  margin: auto;

}
.brown1-limit{
margin:0 auto;
overflow:hidden;
max-width: 830px;
padding: 10px 0px;

}
.brown1{
  background-color: #4a3a2a;
  background-image:url("/home/foradian/project/website/image/assigment img/images/Pennystock_contback.png");
  width:1100px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: top;

}
.bt1-limit{
margin:0 auto;
overflow:hidden;
max-width: 830px;
height:75px;

}
.bt1{
font-family: "Arial", sans-serif;
font-size: 17px;
color: white;
float: left;
margin-top: 18px;
}
.bt2{
font-size: 28px;
background:-webkit-linear-gradient(#ffe066 60% , #c85625 90%);

    background-clip: border-box;

background-clip: border-box;

background-clip: border-box;

-webkit-background-clip: text;

-webkit-text-fill-color: transparent;
font-weight:bolder;
float: left;
margin-left: 10px;
margin-top: 9px;
}

.bt3{

  margin-top: 10px;
  float:right;
}


.brown2{
 background-color: #614f3e;
 width: 1100px;
 margin:auto;
 height:366px;
}

.brown3{
 background-color: #301802;
 width:1100px;

 margin:auto;
 border: solid 1px #4b3d30
}


.brown4{
background: linear-gradient(to bottom, #3f2a14, #2d1c06);
 background-repeat: repeat;
 width:1100px;
 height:241px;
margin: auto;
}

.subbrown1-limit{
margin:0 auto;
overflow:hidden;
max-width: 830px;


}

.subbrown1{
background: linear-gradient(to bottom, #442d16, #2e1f06);
 border-radius: 18px;
 width: 834px;
 height: 235px;
 margin-top: 9px;
background-repeat: repeat;
border: solid 1px #604021;
}


.b{
 width:33.3%;
 height:236px;
 float:left;
 text-align: center;
}



.hh1
{
text-shadow: 1px 1px #dfe0d8;
font-size: 26px;
color: #747f31;
float:left;
}

.hh2{
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: white;
  float: right;
  margin-top: 9px;
}

a:link {
  color: black ;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
 a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
.logo{
  float: left;
  margin-top:-7px;
}
.nav{
  font-family: "Arival",sans-serif;
padding-top:12px;
 font-size:12px;
float:right;
}
.bp{
font-family: "Arial", sans-serif;
font-size: 15.5px;
color: white;
float: left;
margin-left: 158px;
margin-top: -297px;
}

.explode{
margin-top: -322px;
margin-left: 396px;
float:right;

}

.gre1{

font-size: 25px;
color: #221406;
margin-top:30px;
text-shadow: 1px 2px #605436;
}

.gain1{
font-size: 27px;
color: #a1c83e;
text-shadow: 1px 1px #89af22;

}
.alert1{
font-family: "Arial", sans-serif;
font-size: 14px;
color: white;


}
.a044{
font-family: "Arial", sans-serif;
font-size: 14px;
color: #a1c83e;
margin-top: -29px;
margin-right: -106px;
font-weight: bold;

}
.high1{
font-family: "Arial", sans-serif;
font-size: 14px;
color: white;
margin-right: 25px;


}



.h14{
font-family: "Arial", sans-serif;
font-size: 14px;
color: #a1c83e;
margin-right: -84px;
margin-top: -30px;
font-weight:bold;

}
.ex{

font-size: 16px;

}

.line{
background-color: #5c4734;
width: 2px;
height: 172px;
margin-top: -160px;
margin-left: 291px;

}
.z-limit{
margin:0 auto;
overflow:hidden;
max-width: 830px;


}
.z{
font-family: "Arival",sans-serif;
font-size: 17px;
color: white;

}
.want{
float: right;
margin-top: -37px;

}
.line2
{
   background-color: white;
   width: 365px;
   float: right;
   margin-right: -164px;
   margin-top:13px;
   height: 2px;

 }
 .listen-limit{
 margin:0 auto;
 overflow:hidden;
 max-width: 830px;
 padding: 15px 0px;

 }
 .text-block{
   width: 515px;
   height: 335px;
   float: left;
 }
 .listen{

 font-weight: bold;
 color: white;
 font-size: 22px;

 }
 .hennry{

 font-weight:bold;
 color:#d8a824;
 font-size: 13px;
 margin-top: -13px;
 }
 .ipsum{
 font-family: "Arial", sans-serif;
 font-size: 13px;
 color: #ece3db;

 }
.img{
  margin-top: -190.2px;
  margin-right: -156px
}
 .join{

  font-size: 13px;
  color: #a1c83e;
  font-weight: bold;
 }
 .active{

 font-weight: bold;
 color: white;
 font-size: 16px;
 margin-top: 25px;
 }
 .points{
 font-family: "Arial", sans-serif;
 font-size: 11px;
 color: #ece3db;
margin-left: -25px;
line-height: 25px;
}
.image-block{
  height: 291px;
  float: right;
}
.car{
margin-top: 25px
}
.now{

   width: 300px;
   height: 128px;
  margin-top: 13px;
background: linear-gradient(to bottom, #604832 10%,#301f0c, #3a291a 20%);
border-radius: 18px;
border: solid 1px #22160a;

}
.email2{

  font-weight: bolder;

  background: -webkit-linear-gradient(#ffe066 60% , #c85625 80%);

    background-clip: border-box;

-webkit-background-clip: text;

-webkit-text-fill-color: transparent;

  font-size: 15px;

  margin-left: 4px;
  height: 25px;
  padding: 17px;
}
.email3{
  margin-left:19px;
}

.get{
font-family: "Arial", sans-serif;
font-size: 12.9px;
color: white;
margin-top: -26px;
margin-left: 21px;

}

.brown3-limit{
margin:0 auto;
overflow:hidden;
max-width: 830px;

}
.a12{
  height:34px;
}
.rss1{
 font-size: 17px;

 color: #a1c83e;

 float: left;

margin-top: 10px;

 font-weight: bold;
 text-shadow: 1px 1px #6a8b6a;


}
.rss2{
font-family: "Arial", sans-serif;
font-size: 12.9px;
color: white;
text-align: center;
margin-top: 12px;

}
.brown4-limit{
margin:0 auto;
overflow:hidden;
max-width: 830px;
padding: 20px 0px;

}
.link{
  list-style-type: none;
  margin:0;
  padding:0;
}
.penny1{
font-family: "Arial", sans-serif;
float: left;
line-height: 23px;
width: 161px;
height: 122px;
}
.penny2{
font-family: "Arial", sans-serif;
float: left;
margin-left: 77px;
line-height: 23px;
width: 162px;
height:120px;
}
.penny3{
font-family: "Arial", sans-serif;
float: right;
padding-right:285px;
line-height: 23px;
}
.bottom{
  width:204px;
  height:122px;

}
.subs{
float: right;
margin-right: 82px;
margin-top: -88px;
}
.emailid{

  margin-top: -50px;
  float:right;
}


.footer{
  background-color: #634d36;
  width:830px;
  height:2px;
 margin-top: 150px;
}
.footer1{
  width:765px;
  height: 46px;
}
.copyright{
  font-family: "Arial", sans-serif;
font-size: 13px;
color: #80684f;

}
.twitter{
  margin-right:48px;
  margin-top: -29px;
  float:right
}
.linkedin{
  margin-right:25px;
  margin-top: -29px;
  float:right
}
.facebook{

  margin-top: -29px;
  float:right
}


.link a{
  color:#a1c83e;font-size:12px
}
.link a:hover {
  color:white;
  background-color:transparent;
  text-decoration: underline;
}
.pm{
  
}
